@import "susy";

$total-columns  : 4;
$column-width   : 140px;
$gutter-width   : 40px;
$grid-padding   : 0px;

// at 47.5em (16*47.5=760px) switch to a 4-column layout
$break: 47.5em 4;  

// mobile

.row{
	@include container;
	padding:0 20px;
}
.book{
	display:none;
}

// desktop

@include at-breakpoint($break) {
	.row{
		@include container;
		padding:0;
	}
	.mailinglist{
		width:760px;
		.book{
			display:block;
		}
		.form{
			@include prefix(1);
			@include span-columns(3);
		}
		.share{
			@include span-columns(1 omega);
		}
	}
	.bottom .form{
		@include prefix(0);
		@include span-columns(4 omega)
	}
	.about{
		@include span-columns(3);
	}
	.sidebar{
		@include span-columns(1 omega);
	}
	.package{
		ul{
			@include cf;
			li{
				@include span-columns(1);
				&:nth-child(4n){
					@include span-columns(1 omega);
				}				
			}
		}
	}
}