- content_for(:title, "#{current_article.title} - The Meteor Book")
- if current_article.data.sidebar
  - content_for(:body_class, "has-sidebar")

- wrap_layout :layout do
  
  =partial "partials/toc"
  .post
    .top-nav
      =partial "partials/nav"

    .post-content
      %h2
        %span.chapter=current_article.title
        %span.number=current_article.data.number
      =find_and_preserve do
        =yield

    .bottom-nav
      =partial "partials/nav"

  =partial "partials/comments"