%a.toggle{:href => "#"} Toggle Table of Contents
%ul
  - blog.articles.reverse_each do |post|
    - if post.data.sidebar
      - li_class = "sidebar-chapter"
    %li{:class => li_class}
      - unless post.data.sidebar
        %span.number
          =post.data.number  
      %a{:href => "#{post.url}"}
        =post.title
