.about{
	h3{
		font-size:30px;
		font-weight:100;
		margin:0 0 20px 0;
	}
	.clock{
		height:80px;
		width:80px;
		display:block;
		float:right;
		margin-left:10px;
	}
	.telescope{
		display:block;
		float:right;
		margin:0 0 10px 30px;
		img{
			width:180px;
			display:block;
			margin-bottom:10px;
		}
		.caption{
			display:block;
			text-align:center;
			font-size:14px;
			color:$light-text;
			background:none;
			padding:0;
			margin-top:0;
		}
	}
	.block{
		margin-bottom:40px;
	}
}
.package{
	ul{
		list-style-type:none;
		padding:0;
		margin:0;
	}
	span{
		@include border-radius(100px);
		display:block;
		background:$light-bg;
		padding:20px;
		width:80px;
		height:80px;
	}
	img{
		width:100%;
		display:block;
		&[src$=".jpg"]{
			@include border-radius(100px);
		}
	}
}